beautifulsoup4==4.14.3
invoke==3.0.3
livereload==2.7.1
markdown==3.10.2
mdx_include==1.4.2
pelican==4.11.0
pelican-featured-image==1.1.0
pelican-image-process==3.3.0
pelican-plugin-image-preview-thumbnailer==1.0.9
pelican-plugin-linkbacks==1.0.6
pelican-sitemap==1.2.2
pillow==12.2.0
pip-upgrader==2.4.4
py_w3c==0.3.1
shaarli-client==0.5.0
