.uk-article-content h2 { margin-top: 5rem; }
.uk-article-content label {
  display: block;
  margin: 1rem 0;
}
.uk-article-content input[type="submit"], .uk-article-content button {
  border-radius: 1rem;
  border: 0;
  background-color: #39b39d;
  color: white;
  cursor: pointer;
  margin: 0 .5rem;
}
.uk-article-content table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.uk-article-content td, .uk-article-content th {
  padding: 1rem;
  border-top: 1px solid #ddd;
}
.uk-article-content th {
  border-bottom: 2px solid #ddd;
  border-top: 0;
}
.uk-article-content tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.enigmage {
  max-height: 60rem;
  cursor: pointer;
}
.esquisse { position: relative; }
.esquisse label {
  font-size: 1.7rem;
  line-height: 2rem;
  max-width: 400px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .75;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  color: white;
}
.overlay h3 {
  font-size: 3rem;
  color: white;
  margin: 3rem;
}
.overlay label {
  max-width: max-content !important;
  margin: 2rem auto;
}
.timer {
  position: absolute;
  top: 0;
  left: 43%;
  font-size: 3rem;
  background: white;
  padding: 1rem;
}
.panels {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.panel canvas {
  border: 1px solid black;
  cursor: pointer;
  margin: .5rem 0;
}
.submission-panel { display: flex; }
.counter {
  position: absolute;
  top: -3rem;
  right: 0;
  z-index: 1;
  padding: 1rem;
  font-size: 1.5rem;
}
#esquisses { font-size: 2rem; text-align: center; line-height: 3rem; }

@media screen and (min-width: 40rem) {
  .uk-article-content label { font-size: 1.5rem; }
  .uk-article-content input[type="text"] {
    font-size: 2.5rem;
    width: 22rem;
  }
  .uk-article-content input[type="submit"], .uk-article-content button {
    font-size: 2.5rem;
    height: 5rem;
    width: 5rem;
  }
  .answer-correct, .answer-wrong {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 2rem;
  }
  .scoreForm { padding-left: 2rem; }
  .score-already-set, .score-submitted {
    font-size: 1.25rem;
    padding: 1rem;
  }
}
